*{
    margin:0px;
    padding: 0px;
}
.parent{
    width: 100%;
    height: 320svh;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(224, 205, 180);
}
.child{
    width: 350px;
    height: 460px;
    border: 1px solid black;
    background-color: white;
    position:relative;
    margin: 20px;
    gap:40px;
    top:40px;
    left:50px;
    box-shadow: 8px 8px 4px rgb(183, 172, 172);
    border-radius: 15px;
}
.items{
    width:100%;
    height:130px;
    background-color: pink;
    box-shadow: 8px 8px 3px grey;
    border-radius: 10px;

}
.strip{
    border:2px solid black;
    width:5px;
    height:68px;
    background-color: black;
    float:left;
    margin-top: 40px;
}
.image{
    width:400px;
    height:200px;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction:column;
}
.content{
    font: 80px;
    position: absolute;
    top:80%;
    display: flex;
    float: right;

}
.child:hover{
    color: aliceblue;
    display: block;
}
.child:hover .strip{
    display: block;
}
.items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    float: right;
}

.items ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none; 
}

.items li {
    margin-right: 20px;
    padding: 5px; 
    font-size: 20px;
}

.items li:last-child {
    margin-right: 0; 
}
.logo {
    font-size: 50px;
    padding-left: 10px; 
    margin-right: 20px; 
}